<!DOCTYPE html>
<html lang="en">
<%= success %>
<%= error %>
<head>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-MQCW3Y2V0X"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-MQCW3Y2V0X');
</script>
    <link rel="stylesheet" href="../postStyle.css">
    <link rel="stylesheet" href="../mainStyle.css">
    <link rel="stylesheet" href="../navbarstyle.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post</title>
    <link rel="icon" type="image/png" href="../favicon.png">
</head>
<body>
    <%- include('../partials/navbar') %>
    
    <section id="makePost">
        <form action="/submit/<%= username %>" method="POST">
            <textarea name="subject" id="subject" cols="30" rows="2" placeholder="Subject..."></textarea>
            <textarea name="body" id="body" cols="30" rows="3" placeholder="Write post here..."></textarea>
            <button>Post</button>
        </form>
    </section>
</body>
<footer>
    <script src="../../script.js"></script>
</footer>
</html>