<link rel="stylesheet" href="/../mainStyle.css">
<link rel="stylesheet" href="/../errorStyle.css">
<section>
    <a href="/1">
    <div>
        Error 403
    </div>
    <div>
        <%= error.details[0].message %> 
    </div>
    <div>
        Click anywhere to refresh to home page, this error has been recorded to improve your experience.
    </div>
    </a>
</section>